body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fafb; }

/* p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

@media (max-width: 991.98px) {
  .content .bg {
    height: 500px; } }

.content .contents, .content .bg {
  width: 50%; }
  @media (max-width: 1199.98px) {
    .content .contents, .content .bg {
      width: 100%; } }
  .content .contents .form-group, .content .bg .form-group {
    overflow: hidden;
    margin-bottom: 0;
    padding: 8px 15px;
    border-bottom: none;
    position: relative;
    background: #edf2f5;
    border-bottom: 1px solid #e6edf1; }
    .content .contents .form-group label, .content .bg .form-group label {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .content .contents .form-group input, .content .bg .form-group input {
      background: transparent; }
    .content .contents .form-group.first, .content .bg .form-group.first {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px; }
    .content .contents .form-group.last, .content .bg .form-group.last {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    .content .contents .form-group label, .content .bg .form-group label {
      font-size: 12px;
      display: block;
      margin-bottom: 0;
      color: #b3b3b3; }
    .content .contents .form-group.focus, .content .bg .form-group.focus {
      background: #fff; }
    .content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
      margin-top: -20px; }
  .content .contents .form-control, .content .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0; }
    .content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

.content .bg {
  background-size: cover;
  background-position: center; }

.content a {
  color: #888;
  text-decoration: underline; }

.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; }

.content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #6c63ff; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #847dff; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
} */
.container .navbar{
  top:initial;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.1);
  background: white;
  height: fit-content;
}

.container .row{
  padding-top: 20px;
}

.container .row .navbar{
  background-color: white;
  padding-bottom: 350px;
  margin-top: -18px;
  position: absolute;
  width: 78px;top:auto;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.1);
  height:webkit-fill-available;
}

.row .col-md-7{
  padding-left: 60px;
  padding-right: 86px;
} 

.row .col-md-4{
  margin-left: -70px;
}

.btn-group{
  padding-left: 150px;
}

#personal{
  font-size:12px; ;
}
#task{
  font-size:12px; ;
}

.first{
  margin-top: 6px;
}

#personal:after {
  content: "";
  display: block;
  width: 386px;
  height: 0.1px;
  background: rgb(230, 230, 230);
  right: 88px;
  position: absolute;
  top: 45px;
}
a{
  text-decoration:none;
}

#task:after {
  content: "";
  display: block;
  width:270px;
  height: 0.1px;
  background: rgb(230, 230, 230);
  right: 265px;
  position: absolute;
  top: 78px;
}
#list{
  float: right;
  margin-right: -5px;
}
a {
  color: inherit;
}

#list #important{
  border-radius: 12px;
  width: 70px;
}

#show,#ptasks{
  color: blue;
}

#user{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  float: right;
}
.card p{
  padding-left: 5px;
  font-size: 12px;
}
p .btn{
  font-size: 9px;
  float: left;
  margin-right: 5px;
}

#add{
  font-size: 10px;
}

.card-body {
  padding: 0.25rem;
}

.card .small{
  font-weight: lighter;
  font-size: 10px;
  padding-left: 15px;
  
}
.card .sub{
  font-weight: bold;
  font-size: 10px;
  padding-left: 25px;
}
.card .stasks{
  font-size: 10px;
  padding-left: 25px;
  margin-top: -10px;
}

.card .img{
  float: none;
  padding-left: 25px;
  padding-right: 25px;
}

.progress{
  width: 50px;
  height: 4px;
  margin-top: 15px;
}

#sprogress{
  width: 50px;
  height: 4px;
  margin-top: 15px;
  margin-inline-start: 140px;
}
#sprogress1{
  width: 50px;
  height: 4px;
  margin-top: 15px;
  margin-inline-start: -8px;
}

.card{
  border-radius: 8px;
}

#card1{
  margin-top: -12px;
}
.card .row {
  margin-top: -45px;
  padding-left: 30px;
  font-size: 9px;
}

.card .row #col{
  padding: 8px;
}
.card .row #alarm{
  margin-top: 4px;
  padding: 8px;
}

#complete{
  margin-top: 4px;
  padding: 8px;
  font-weight: lighter;
}
#comments{
  margin-top: 4px;
  padding: 8px;
  margin-inline-end: -32px;
}
.card .row .btn{
  margin-inline-start: 105px;
  margin-inline-end: 15px;
  height: 20px;
  width: 80px;
  font-size: 9px;
  margin-top: 7px;
}

#btn2{
  background-color: rgb(255, 243, 245);
  width: 29px;
  color: purple;
  border-color: rgb(255, 243, 245);
  margin-inline-start: -13px;
}
#style{
  background-color: rgb(255, 243, 245);
  color: purple;
  border-color: rgb(255, 243, 245);
  width: 75px;
  margin-inline-start: 55px;
}

#sepbtn{
  font-size: 12px;
  background: #FFFFFF;
  color: #242627;
  height: 43px;
  font-weight: bold;
}

.milestone{
  margin: 20px;
  margin-bottom: -10px;
}
.milestone1{
  margin: 20px;
  margin-bottom: 20px;
}
#text{
  font-size: 13px;
  margin-top: -42px;
  margin-inline-start: 40px;
}
#month{
  margin-left: -5px;
  font-size: 9px;
}
#date{
  margin-left: -5px;
  margin-top: -15px;
  font-size: 14px;
}
#text1{
  font-weight: lighter;
  font-size: 10px;
  margin-top: -13px;
  margin-inline-start: 40px;
}
#mprogress{
  width: 60px;
}

#percent{
  font-size: 10px;
  margin-top: -18px;
  margin-inline-start: 60px;
  font-weight: 500;
}

#meetings{
  margin: 20px;
  font-weight: bold;
}

#cdate{
  font-weight: lighter;
  color: rgb(49, 49, 49);
  font-size: 9px;
}

#weeks{
  font-weight: lighter;
  text-align: center;
  font-size: 10px;
}

#dates{
  margin-top: -10px;
  text-align: center;
  font-size: 13px;
}
#meet1{
  font-weight: normal;
  font-size: 13px;
  margin-inline-start: -22px;
  list-style: none;
}

#mbtn{
  width: 42px;
  height: 20px;
  font-size: 9px;
  float: right;
  margin-top: -35px;
}

#google{
  font-size: 9px;
  font-weight: lighter;
}