{% extends '_base.html' %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-9">
            {% include 'partials/_search.html' %}
        </div>
        <div class="col-md-3">
            <a
                    href="{% url 'ToDo'%}"
                    class="btn btn-primary btn-md float-right m-2"
                    data-toggle="tooltip"
                    title="Add new To-Do"
            > ADD </a>
            {% if is_search %}
            <a
                    href="{% url 'Home'%}"
                    class="btn btn-primary btn-md float-right m-2"
                    data-toggle="tooltip"
                    title="Reset Search"
            > RESET </a>
            {% endif %}
        </div>
    </div>
    <div class="row card-columns">
        {% if is_search %}
            {% if data %}
                {% for task in data %}
                    <div class="col-md-3">
                    {% include 'partials/_tasks.html' with task=task %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12 text-center py-5">
                    <h2>No matching results found.</h2>
                </div>
            {% endif %}
        {% else  %}
            {% if data %}
                {% for task in data %}
                    <div class="col-md-3">
                    {% include 'partials/_tasks.html' with task=task %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12 text-center py-5">
                    <h2>No tasks created yet.</h2>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}